{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Homepage{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Lor-Immo</h1>
            <p class="lead">Trouvez facilement votre bine immobilier en Lorraine.</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            {% for property in properties %}
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ property.title }}</h5>
                            <p class="card-text">{{ property.description|slice(0, 100) ~ '...' }}</p>
                            <a href="{{ path('platform_home_show', {'id': property.id}) }}" class="btn btn-primary">Voir ce bien</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
